/* To be able to use a height
(min-height) on a block, his direct parent must himself have a
determined height (auto): height in
pixels, em, other units ...).
If the height of the parent is in percentage, then it refers to the
height of the "grandfather", and so on.
To use a "minimum height: 100%" on the global #, we need:
- a parent (body) in "height: 100%";
- the parent of body also in "height: 100%". */

html, body {
    height: 100%;
}

body {
    color: #bfbfbf;
    background: black;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans    -serif;
}

h1 {
    color: white;
}

.postTitle {
    margin-bottom: 0px;
}

.nbComs{
    text-align: right;
}

#global {
    min-height: 100%;  /* Voir commentaire sur html et body plus haut */
    background: #333534;
    width: 70%;
    margin: auto;    /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#content {
    margin-bottom : 30px;
}

#blogTitle, #blogFooter {
    text-align: center;
}

#titleAnswers {
    font-size : 100%;
}


