/* To be able to use a height
(min-height) on a block, his direct parent must himself have a
determined height (auto): height in
pixels, em, other units ...).
If the height of the parent is in percentage, then it refers to the
height of the "grandfather", and so on.
To use a "minimum height: 100%" on the global #, we need:
- a parent (body) in "height: 100%";
- the parent of body also in "height: 100%". */
*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    margin:0;
    color: #bfbfbf;
    background: black;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    padding-bottom: 9%;
}

h1 {
    color: white;
}

.postTitle {
    margin-bottom: 0px;
}

a#link_totalPost {
    text-decoration: none;
}

input#btn_totalPost {
    background-color: blue;
    color: #bfbfbf;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 6.5px;
}

.nbComs{
    text-align: right;
}

#buffer_block {
    height: 0;
    margin-bottom: 4%;
}

#global {
    min-height: 100%;  /* Voir commentaire sur html et body plus haut */
    background: #333534;
    width: 70%;
    margin: auto;    /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#content {
    margin-bottom : 30px;
}

#blogTitle, #blogFooter {
    font-size: 20px;
    text-align: center;
}

#titleAnswers {
    font-size : 100%;
}

#commentText {
    width: 50%;
}

.header {
    background-color: #2f404f;
}

.header-top {
    display: flex;
    height: 75px;
    padding: 0 15px;
}

.logo {
    display: flex;
    flex-basis: 90%;
    align-items: center;
}

.btn-menu {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-menu button.btn_nav {
    background: none;
    border: none;
    outline: none;
}

.btn-menu i {
    font-size: 25px;
    color: #bfbfbf;
}

.nav {
    display: none;
    flex-direction: column;
}

.nav.open {
    display: flex;
}

.nav a {
    text-decoration: none;
    color: #bfbfbf;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 15px 15px 0;
    border-top: 1px solid black;
    text-align: right;
}

#registration_wrapper {
    text-align: center;
}

#form_registration table {
    margin: auto;
}

#connexion_wrapper {
    text-align: center;
}

#form_connexion table {
    margin: auto;
}

.link_register {
    text-decoration: none;
}

td.label {
    font-size: 10px;
    text-align: right;
}

input.input_field {
   width: 100px;
}

input::placeholder {
    font-size: 7px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.btn_commentPost {
    background-color: black;
    color: #bfbfbf;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.popup {
    display: none;
    background-color: rgba(245,7,23,0.3);
    text-align: center;
    margin: auto;
    width: 92%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
}

a.link_popup {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

input.btn_popup {
    margin: auto;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    border: none;
    flex-shrink: 2;
    flex-wrap: wrap;
    background-color: #bfbfbf;
    cursor:pointer;
    font-weight: bold;
}

#avatar, #nickname, #email, #pass, #signature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.avatar_profile {
    display:block;
    width: 150px;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 4%;
}

.input_avatar {
    padding: 1%;
    font-size: 8px;
    font-weight: bold;
    width: 125px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

.btn_update_avatar_profile, .btn_update_nickname_profile, .btn_update_email_profile, .btn_update_pass_profile, .btn_update_electronic_signature_profile, .btn_delete_electronic_signature_profile {
    align-items: center;
    justify-content:center;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 4%;
}

.btn_closePopup, .btn_closePopupAvatar, .btn_closePopupNickname, .btn_closePopupEmail, .btn_closePopupPass, .btn_closePopupSignatureElectronic, .btn_closePopupDeletetSignatureElectronic  {
    cursor: pointer;
    font-weight: bold;
}

.popup_update_avatar_profile, .popup_update_nickname_profile, .popup_update_email_profile, .popup_update_pass_profile, .popup_update_electronic_signature_profile, .popup_delete_electronic_signature_profile {
    display: none;
    background-color: rgba(191,191,191,0.3);
    text-align: center;
    margin: auto;
    width: 92%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
    margin-bottom: 1%;
}

.popup_delete_avatar_profil {
    margin: auto;
}

@media screen and (min-width: 768px){
    
    #blogTitle, #blogFooter {
    font-size: 35px;
    text-align: center;
    }
    
    #buffer_block {
        height: 9%;
    }
    
    .header {
        display: flex;
        width: 100%;
        position: fixed;
    }
    
    .btn-menu {
        display: none;
    }
    
    .header-top {
        flex-basis: 40%;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        flex-basis: 60%;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
    }
    
    .nav a {
        border-top: none;
    }
    
    .popup {
        display: none;
        background-color: rgba(245,7,23,0.3);
        text-align: center;
        margin: auto;
        width: 42%;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2%;
    }
    
    input#btn_totalPost {
        background-color: blue;
        color: #bfbfbf;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        font-size: 12px;
    }
    
    .avatar_profile {
        display:block;
        width: 300px;
        max-width: 100%;
        height: auto;
        margin-left:auto;
        margin-right:auto;
    }
    
    td.label {
        font-size: 15px;
    }
    
    input.input_field {
        width: 200px;
    }
    
    input::placeholder {
        font-size: 12px;
    }
    
    .input_avatar {
        width: 200px;
        font-size: 12px;
    }

}