/* To be able to use a height
(min-height) on a block, his direct parent must himself have a
determined height (auto): height in
pixels, em, other units ...).
If the height of the parent is in percentage, then it refers to the
height of the "grandfather", and so on.
To use a "minimum height: 100%" on the global #, we need:
- a parent (body) in "height: 100%";
- the parent of body also in "height: 100%". */
*{  
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    color: #bfbfbf;
    background-color: #2f404f;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

header {
    margin:0;
    padding: 0 0;
    width: 100%;
    margin-bottom: 15px;
}

#title-book {
    font-size: 12px;
    text-align: center;
}

h1 {
    color: white;
}

.postTitle {
    margin-bottom: 0px;
}

a#link_totalPost {
    text-decoration: none;
}

button#btn_totalPost, button.btn_commentPost, input.btn_popup, input#btn_registration, input#btn_connexion, input.btn_flag_comment, input.btn_approve_comment, input.btn_delete_comment {
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(19,242,232,0.6);
    color:rgba(242,19,232,0.6);
    font-weight: bold;
    font-size: 10px;
    text-shadow: -0.2px 0 white;
    cursor: pointer;
}

label.stl-label {
    text-shadow: -0.2px 0 white;
    color:rgba(242,19,232,0.6);
}

.tox-editor-container div.tox-menubar, .tox-editor-container div.tox-toolbar{
    background-color: rgba(19,242,232,0.6);
}

.tox-editor-container iframe#content_ifr.tox-edit-area__iframe {
    background-color:rgba(242,19,232,0.6);
}



input.style {
    border:none;
    background-color: rgba(19,242,232,0.6);
    color:rgba(255,255,255,0.6);
}

input#btn_totalPost {
    background-color: blue;
    color: #bfbfbf;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 6.5px;
}

a.link_stl_flag_comment {
    text-decoration: none;
}

.nbComs{
    text-align: right;
}

.buffer_block {
    height: 0;
    margin-bottom: 0;
}

#global {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;  
    background: #333534;
    width: 100%;
    margin: 0 auto;    
    text-align: justify;
    padding: 0px 0px;
    box-sizing:content-box;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    padding: 0px 20px;
    box-sizing:content-box;
    margin-bottom : 30px;
    text-align: center;
}

#blogTitle {
    font-size: 20px;
    text-align: center;
}

#blogFooter {
    font-size: 10px;
    text-align: center;
}

#banniere-image {
    padding: 0;
    margin:auto;
    background: url('../img/couverture.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    z-index: 100;
}

#titleAnswers {
    text-align: center;
    font-size : 100%;
}

#formComment {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#formCommentPost {
    width: 100%;
    margin: auto;
}

#commentText {
    width: 82%;
    height: 200px;
}

#author {
    width: 82%;
    margin-bottom: 10px;
}

.header {
    z-index: 10000;
    background-color: #2f404f;
}

.header-top {
    display: flex;
    height: 85px;
    padding: 0 15px;
}

.header-top h3 {
    font-size: 15px;
}

.logo {
    display: flex;
    flex-basis: 90%;
    align-items: center;
}

.btn-menu {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-menu button.btn_nav {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-menu i {
    font-size: 25px;
    color: #bfbfbf;
}

.navigation {
    box-sizing: content-box;
    flex-basis: 60%;
}

.nav {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 15px;
}

.navigation li {
    position: relative;
    flex: 1 0 auto;
    list-style-type: none;
}

.nav-item {
    border-top: 1px solid black;
    padding: 12px 12px 12px 12px;
    text-align: right;
}

.nav.open {
    display: flex;
}

.nav a {
    text-decoration: none;
    color: #bfbfbf;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 3px;
}

.nav a:hover {
    background-color: #bfbfbf;
    color:#2f404f;
}

.navigation ul ul.nav-sub {
    display: none;
    flex-direction: column;
    position:static;
    z-index: 100;
    padding: 0;
    min-width: 200px;
}

.has-children {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 15px;
} 

.navigation ul.nav > .has-children:hover ul.nav-sub {
    display: flex;
}

li.nav-item-sub a{
    font-size: 11px;
}

li.nav-item-sub {
    flex: 1 1 auto;
    text-align: right;
    padding-top: 10px;
}

li.nav-item-sub > a {
    color: white;
    text-decoration: none;
    
}

#registration_wrapper {
    text-align: center;
}

#form_registration table {
    margin: auto;
}

#connexion_wrapper {
    text-align: center;
}

#form_connexion table {
    margin: auto;
}

.link_register {
    text-decoration: none;
}

td.label {
    font-size: 10px;
    text-align: right;
}

input.input_field {
   width: 100px;
}

input::placeholder {
    text-align: center;
    font-size: 7px;
}

.update_author, .update_title {
    margin: 10px auto;
}

.success {
    color: green;
}

.error {
    color: red;
}

.active {
    display: none;
}

.btn_commentPost {
    background-color: black;
    color: #bfbfbf;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.popup {
    display: none;
    background-color: rgba(245,7,23,0.3);
    text-align: center;
    margin: auto;
    width: 92%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
}

a.link_popup {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

input.btn_popup {
    margin: auto;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    border: none;
    flex-shrink: 2;
    flex-wrap: wrap;
    background-color: #bfbfbf;
    cursor:pointer;
    font-weight: bold;
}

.profileMember {
    margin: auto;
    box-sizing: content-box;
}

#avatar, #nickname, #email, #pass, #signature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: content-box;   
}

.avatar_profile {
    display:block;
    width: 150px;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 4%;
}

.input_avatar {
    padding: 1%;
    font-size: 8px;
    font-weight: bold;
    width: 125px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

.btn_update_avatar_profile, .btn_update_nickname_profile, .btn_update_email_profile, .btn_update_pass_profile, .btn_update_electronic_signature_profile, .btn_delete_electronic_signature_profile, .btn_submit_add_new_post, .btn_submit_update_post, .btn_submit_delete_Post {
    align-items: center;
    justify-content:center;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 4%;
}

.btn_submit_add_new_post, .btn_submit_update_post{
    font-size: 30px;
    border-radius: 50%;
    margin-top: 5px;
    padding: 2px 6px;
    background-color: rgba(255,255,255,0.6);
    color:rgba(242,19,232,0.6);
}

.btn_closePopup, .btn_closePopupAvatar, .btn_closePopupNickname, .btn_closePopupEmail, .btn_closePopupPass, .btn_closePopupSignatureElectronic, .btn_closePopupDeletetSignatureElectronic, .btn_closePopupNewPost {
    cursor: pointer;
    font-weight: bold;
}

.popup_update_avatar_profile, .popup_update_nickname_profile, .popup_update_email_profile, .popup_update_pass_profile, .popup_update_electronic_signature_profile, .popup_delete_electronic_signature_profile, .popupNewPost {
    display: none;
    background-color: rgba(191,191,191,0.3);
    text-align: center;
    margin: auto;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
    margin-bottom: 1%;
    box-sizing: content-box;
    justify-content: flex-end;
    align-content: center;
}

input#newNickname, input#newemail, input#newPass1, input#newPass2, textarea#newElectronicSignature {
    width: 150px;
}

input#btn_submit_update_nickname_profile, input#btn_submit_update_email_profile, input#btn_submit_update_pass_profile, input#btn_submit_update_electronic_signature_profile {
    width: 100px;
}

label {
    font-size: 11px;
}

h4{
    font-size: 13px;
}

.popupNewPost {
    width: 100%;
}

.popup_delete_avatar_profil {
    margin: auto;
}

h3.titre_gestion_blog {
    text-align: center;
}

.btn_addNewPost, .btn_updatePost, .btn_submit_delete_Post {
    margin-top: 5px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 0 4px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.6);
    color:rgba(242,19,232,0.6);
}

fieldset  {
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}

.textarea_new_post, .textarea_update_post {
    width: 60%;
    margin:auto;
    padding: 5px;
    height: 150px;
    resize: both;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
    height: auto;
}
.form_adminPost {
    text-align: center;
}

.form_adminPost h1, .form_adminPost p, .form_adminPost article {
    text-align: justify;
}

.formUpdatePost {
    text-align: center;
}

.formUpdatePost article {
    text-align: justify;
}

.formUpdatePost label, .formUpdatePost input, .formUpdatePost textarea, .formUpdatePost button {
    
   margin: auto 30px;
}

@media screen and (min-width: 768px){
    
    
    #global {
        width: 70%;
        padding: 0;
    }
    
    header {
        margin:0;
        padding: 0 0;
        width: 100%;
    }
    
    #banniere-image {
        padding: 0;
        margin:auto;
        background: url('../img/couverture.jpg') no-repeat;
        background-size: cover;
        height: 200%;
        z-index: 100;
    }
    
    #title-book {
        font-size: 20px;
        text-align: center;
    }
    
    #content {
        margin-top: 310px;
        width: 100%;
    }
    
    #blogTitle {
        font-size: 35px;
        text-align: center;
    }


    #blogFooter {
        font-size: 15px;
        text-align: center;
    }
    
    .buffer_block {
        height: 0;
        margin-bottom: 6.5%;
    }
    
    .header {
        padding: 0;
        margin: 0;
        position: absolute;
        top:0;
        display: flex;
        width: 100%;
        position: fixed;
        height: 100px;
        box-shadow: 25px 0px 15px 15px rgba(0, 0, 255, .2);
    }
    
    .btn-menu {
        display: none;
    }
    
    .header-top {
        flex-basis: 40%;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        flex-basis: 60%;
        justify-content: flex-end;
        align-items: center;
        padding-right: 0;
    }
    
    .navigation li {
        position: relative;
        flex: 1 0 auto;
        list-style-type: none;
    }
    
    .nav-item {
        border-top: none;
        text-align: center;
        padding: 8px 8px;
    }
    
    .nav.nav-item > a {
        border-top: none;
        /*padding: 15px 5px;*/
    }
    
    .navigation ul ul.nav-sub {
        display: none;
        position: absolute;
        z-index: 100;
        padding: 0;
        flex-direction: column;
        min-width: 200px;
    }
    
    .has-children {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 15px 5px;
        height: 4px;
        line-height: 4px;
    } 
        
    li.has-children > a {
        padding: 15px 5px;
    }
    
    .navigation ul.nav > .has-children:hover ul.nav-sub {
        display: flex;        
    }

    li.nav-item-sub {
        flex: 1 1 auto;
        text-align: left;
        padding-left: 5px;
        padding-top: 10px;
    }
    
    li.nav-item-sub > a {
        color: white;
        text-decoration: none;
        margin-top: 50px;
        text-align: center;
        padding: 0;
    }

    .popup {
        display: none;
        background-color: rgba(245,7,23,0.3);
        text-align: center;
        margin: auto;
        width: 92%;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2%;
    }
    
    .popup_update_avatar_profile, .popup_update_nickname_profile, .popup_update_email_profile, .popup_update_pass_profile, .popup_update_electronic_signature_profile, .popup_delete_electronic_signature_profile, .popupNewPost {
        display: none;
        background-color: rgba(191,191,191,0.3);
        text-align: center;
        margin: auto;
        width: 92%;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2%;
        margin-bottom: 1%;
        box-sizing: content-box;
    }
    
    .btn_addNewPost, .btn_updatePost, .btn_submit_delete_Post  {
        margin-top: 10px;
        margin-left: 45%;
        margin-right: 45%;
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        padding: 0 4px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
    }

    .textarea_new_post, .textarea_update_post {
        width: 80%;
        margin:auto;
        padding: 10px;
        resize: both;
        box-sizing: border-box;
    }
    
    input#btn_totalPost {
        background-color: blue;
        color: #bfbfbf;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        font-size: 12px;
    }
    
    .avatar_profile {
        display:block;
        width: 300px;
        max-width: 100%;
        height: auto;
        margin-left:auto;
        margin-right:auto;
    }
    
    td.label {
        font-size: 15px;
    }
    
    input.input_field {
        width: 200px;
    }
    
    input::placeholder {
        font-size: 12px;
    }
    
    .input_avatar {
        width: 200px;
        font-size: 12px;
    }
}